@using Social_Media_2._0.ViewModels
@model ProfileIndexViewModel

<div>
    <h1>@Model.Name</h1>

    @if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
    {
        <img class="profile-image" src="@Model.ProfileImageUrl" alt="profile image" />
    }
</div>


<div>
    <h2 class="profile-title">Update profile</h2>

    <form action="/Profile/Update" method="post">
        <input name="Name" value="@Model.Name" placeholder="Name" />
        <input class="listen-button" type="submit" value="Save" />
    </form>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <form asp-action="UploadProfilePicture" asp-controller="Profile" enctype="multipart/form-data" method="post">
        <input class="listen-button" type="file" name="ImageFile" />
        <input type="hidden" name="Name" value="@Model.Name" /> <br/>
        <button type="submit">Upload picture</button>
    </form>


    <h2 class="profile-title">Following</h2>
    <div class="profile-following">
        @foreach (var ListeningTo in Model.ListeningTo)
        {
            <p>
                <a class="recommended-users" href="/Users/@ListeningTo.UserId">@ListeningTo.Name </a>
            </p>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
